<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <div>
            Board:
            <a href="{{ url_for('index') }}">На главную</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Авторизация</a>
            {% else %}
                <a href="{{ url_for('my_offers') }}">Мои предложения</a>
                <a href="{{ url_for('my_requests') }}">Мои запросы</a>
                <a href="{{ url_for('logout') }}">Выход</a>
                <a href="{{ url_for('edit_profile') }}">Редактировать профиль</a>
            {% endif %}
        </div>
        <hr>
        {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
        <ul>
            {% for message in flash_messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>