{% extends 'base.html' %}

{% block content %}
    <h1>Изменение профиля</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size = 32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size = 32) }}<br>
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size = 32) }}<br>
            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size = 32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location() }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
        {% if current_user.vk_id == None %}
            <div>
                <a href="{{ 'http://oauth.vk.com/authorize?client_id={}&client_secret={}&v=5.102&response_type=code&redirect_uri={}&scope=email'.format(
                        app.config['APP_ID'],
                        app.config['PROTECTED_KEY'],
                        'http://localhost:5000/add_vk_id'
                 ) }}">Добавить аккаунт Вконтакте</a>
            </div>
        {% endif %}
    </form>
{% endblock %}