{% extends 'base.html' %}

{% block content %}
    <h1>Поиск товара</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag }}
        {{ form.csrf_token }}
            <div>
                {{ form.category }}
                {{ form.name }}
                {{ form.location }}
                {{ form.productname(size = 32) }}
                {{ form.submit }}
            </div>
            <hr>
            {% for p in products %}
                <div onclick="window.location=`{{ url_for('show_product', product_id = p.id) }}`">
                    <p>[{{ p.category.name }}] - [{{ p.name }}] - [{{ p.timestamp }}]</p>
                    {% if p.photo_name %}
                        <img src="{{ get_path(p.photo_name) }}" alt="{{ p.name }}">
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
    </form>
{% endblock %}