{% extends 'base.html' %}

{% block content %}
    <h1>Диалог с {{ interlocutor.first_name + ' ' + interlocutor.last_name }}</h1>
    <div>
        <a href="{{ url_for('show_product', product_id=product.id) }}">
            Перейти на страницу продукта
        </a>
    </div>
    <div>
        {% for m in messages %}
            <div>{{ m.body }}</div>
        {% endfor %}
    </div>
    <br>
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div>
            {{ form.textarea }}
        </div>
        <div>
            {{ form.submit }}
        </div>

    </form>

{% endblock %}